@using UI_portal.Models
@model UI_portal.Models.UserAccount
@{
    UserAccount user = ViewData["user"] as UserAccount;
}

<main class="userProfile-page">
    <div class="banner"></div>
    <section class="mainProfile">
        <div class="container">
            <div class="mainProfile__left">
                <div class="mainProfile__left-wrap">
                    <!--Avt người dùng-->
                    <div class="avt">
                        <img src="/img/icons/user.svg" alt="">
                    </div>
                    <!--Tên người dùng-->
                    <h3 class="name">@user.email</h3>
                    <!--Thông tin cơ bản-->
                    <p class="basic-info">
                        Email outlock:
                        <br />
                        @user.email
                    </p>
                    <!--TBC số sao-->
                    <div class="star-rating">
                        <span class="stars">4.35</span>
                        <span class="value">4.35</span>
                        <!--Tổng số người đánh giá-->
                        <p>(<span class="total-vote">346</span>)</p>
                    </div>
                    <a href="" class="button-primary contactuser">
                        <p>
                            @{
                                if (user.block == true)
                                {
                                    <h2> Tài Khoản đã bị khóa </h2>
                                }
                                else
                                {
                                    <h2> Người dùng thân thiện </h2>
                                }

                            }
                        </p>
                    </a>
                    <div class="dotted">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="mainProfile__right">
                <div class="tag-list">
                    <a href="" class="button-primary product active">
                        <p>Bài đăng</p>
                    </a>
                    <a href="" class="button-primary review">
                        <p>Đánh giá</p>
                    </a>
                </div>
                <div class="mainProfile__right-list">
                    <div class="panel product active">
                        <div class="mainProfile__right-list-item">
                            <a href="/postDetail.html">
                                <div class="item-img">
                                    <!--Ảnh sản phẩm-->
                                    <img src="/img/detail/detail1.1.jpg" alt="">
                                    <div class="label">
                                        <!--Thể loại sản phẩm-->
                                        <p class="type">CD</p>
                                    </div>
                                    <div class="productcover-detail">
                                        <p class="title">Park Chaeyoung - FIRST SINGLE ALBUM</p>
                                        <div class="bottom-wrap">
                                            <!--Lựa chọn đổi-->
                                            <p class="option">Trao đổi</p>
                                            <div class="left">
                                                <div class="img">
                                                    <img src="/img/icons/icons8-mailbox-100.png" alt="">
                                                </div>
                                                <!--Số người đăng ký-->
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mainProfile__right-list-item">
                            <a href="/postDetail.html">
                                <div class="item-img">
                                    <!--Ảnh sản phẩm-->
                                    <img src="/img/detail/detail1.1.jpg" alt="">
                                    <div class="label">
                                        <!--Thể loại sản phẩm-->
                                        <p class="type">CD</p>
                                    </div>
                                    <div class="productcover-detail">
                                        <p class="title">Park Chaeyoung - FIRST SINGLE ALBUM</p>
                                        <div class="bottom-wrap">
                                            <!--Lựa chọn đổi-->
                                            <p class="option">Trao đổi</p>
                                            <div class="left">
                                                <div class="img">
                                                    <img src="/img/icons/icons8-mailbox-100.png" alt="">
                                                </div>
                                                <!--Số người đăng ký-->
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mainProfile__right-list-item">
                            <a href="/postDetail.html">
                                <div class="item-img">
                                    <!--Ảnh sản phẩm-->
                                    <img src="/img/detail/detail1.1.jpg" alt="">
                                    <div class="label">
                                        <!--Thể loại sản phẩm-->
                                        <p class="type">CD</p>
                                    </div>
                                    <div class="productcover-detail">
                                        <p class="title">Park Chaeyoung - FIRST SINGLE ALBUM</p>
                                        <div class="bottom-wrap">
                                            <!--Lựa chọn đổi-->
                                            <p class="option">Trao đổi</p>
                                            <div class="left">
                                                <div class="img">
                                                    <img src="/img/icons/icons8-mailbox-100.png" alt="">
                                                </div>
                                                <!--Số người đăng ký-->
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mainProfile__right-list-item">
                            <a href="/postDetail.html">
                                <div class="item-img">
                                    <!--Ảnh sản phẩm-->
                                    <img src="/img/detail/detail1.1.jpg" alt="">
                                    <div class="label">
                                        <!--Thể loại sản phẩm-->
                                        <p class="type">CD</p>
                                    </div>
                                    <div class="productcover-detail">
                                        <p class="title">Park Chaeyoung - FIRST SINGLE ALBUM</p>
                                        <div class="bottom-wrap">
                                            <!--Lựa chọn đổi-->
                                            <p class="option">Trao đổi</p>
                                            <div class="left">
                                                <div class="img">
                                                    <img src="/img/icons/icons8-mailbox-100.png" alt="">
                                                </div>
                                                <!--Số người đăng ký-->
                                                <p>2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="panel review">
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Jennie Kim</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">4</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. At similique repellendus iure placeat excepturi tempore enim
                                            sapiente corrupti laborum alias a, dicta voluptas perferendis repellat
                                            quod. Illum sapiente voluptate ut.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique
                                            repellendus iure placeat excepturi tempore enim sapiente corrupti
                                            laborum alias a, dicta voluptas perferendis repellat quod. Illum
                                            sapiente voluptate ut.
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Lalisa Manoban</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">5</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Ngon quá chị ơi!
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Jennie Kim</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">4</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Eligend
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Jennie Kim</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">4</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. At similique repellendus iure placeat excepturi tempore enim
                                            sapiente corrupti laborum alias a, dicta voluptas perferendis repellat
                                            quod. Illum sapiente voluptate ut.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique
                                            repellendus iure placeat excepturi tempore enim sapiente corrupti
                                            laborum alias a, dicta voluptas perferendis repellat quod. Illum
                                            sapiente voluptate ut.
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Lalisa Manoban</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">5</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Ngon quá chị ơi!
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainProfile__right-list-review">
                            <div class="right">
                                <div class="right-top">
                                    <!--Tên người đánh giá-->
                                    <p class="name">Jennie Kim</p>
                                    <!--Số sao đánh giá-->
                                    <span class="stars">4</span>
                                </div>
                                <div class="right-bottom">
                                    <div class="cmt-box">
                                        <!--nhận xét-->
                                        <p class="cmt-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Eligend
                                        </p>
                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                    </div>
                                    <!--Thời gian đăng-->
                                    <div class="time">
                                        <p class="val">1 days</p>
                                        <span>ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>