<div class="tableContent__title">
    <div class="tableContent__title-user">
        <div class="name">
            <p>Tài khoản của</p>
            <!--tên user-->
            <p class="val">@User.Identity.Name</p>
        </div>
    </div>
    <div class="tableContent__title-current">
        <a href="#"><h3 class="blur">@ViewBag.Title</h3></a>
    </div>
</div>