<div class="tableContent__wrap-tag">
    <ul>
        <li><a href="@Url.Action("Notification", "User")">Thông báo của tôi</a></li>
        <li><a href="@Url.Action("Index", "Thing")" class="active">Quản lý kho đồ</a></li>
        <li><a href="@Url.Action("History", "User")">Tất cả giao dịch</a></li>
    </ul>
</div>