@model UI_portal.Models.Post

@{
    ViewBag.Title = Model.thing.thing_name;
}

<main class="postdetail-page">
    <section class="postDetail">
        <div class="container">
            <div class="detail__left">
                <div class="detail__left-slider" itemscope data-pswp-uid="1">
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="/img/detail/detail1.1.jpg" alt=""></div>
                    </figure>
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="/img/detail/detail1.2.jpg" alt=""></div>
                    </figure>
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="/img/detail/detail1.3.jpg" alt=""></div>
                    </figure>
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="img/detail/detail1.4.jpg" alt=""></div>
                    </figure>
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="img/detail/detail1.5.jpg" alt=""></div>
                    </figure>
                </div>
                <div class="detail__left-button">
                    <div class="control">
                        <div class="btn prev"><img src="/img/icons/prev.svg" alt=""></div>
                        <div class="btn next "><img src="/img/icons/next.svg" alt=""></div>
                    </div>
                    <a href="/registerExchange.html" class="option tradebtn">Đổi ngay!</a>
                    <button type="submit" class="option freebtn">Đổi free!</button>
                </div>
                <div class="detail__left-userinfo">
                    <div class="right">
                        <a href="" class="avt">
                            <!--Ảnh đại diện-->
                            <img src="img/rose-10.jpg" alt="">
                        </a>
                        <div class="detail__left-userinfo name">
                            <div class="wrap-top">
                                <!--Tên người dùng-->
                                <p class="name">Park Chaeyoung</p>
                            </div>
                            <div class="vote-star">
                                <img src="/img/icons/star.svg" alt="">
                                <!--TBC đánh giá-->
                                <p class="star-value">4.5</p>
                                <!--Tổng số đánh giá-->
                                <p class="total-vote">(365)</p>
                            </div>
                            <a href="/user/profile.html" class="button-primary userlink"><p>Trang cá nhân</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail__right">
                <form action="">
                    <button class="button-threedots">
                        <div class="threedots"></div>
                    </button>
                    <div class="navi-post">
                        <ul>
                            <li><button class="edit">Cập nhật</button></li>
                            <li><button type="submit" class="save">Lưu</button></li>
                            <li><button type="submit" class="del">Xóa</button></li>
                        </ul>
                    </div>
                    <!-- <button type="submit" class="buttonsubmit save">
                        <span class="edit"></span>
                    </button> -->
                    <div class="detail__right-name">
                        <h3>@Model.thing.thing_name</h3>
                        <div class="data-edit">
                            <textarea disabled="disabled" rows="3" type="text" id="title" />Park Chaeyoung - FIRST SINGLE ALBUM</textarea>
                        </div>
                    </div>
                    <div class="detail__right-options">
                        <p class="properties">Lựa chọn</p>
                        <p class="val">Trao đổi</p>
                        <div class="data-edit">
                            <select id="option">
                                <option selected disabled>... </option>
                                <option value="1" selected>Trao đổi</option>
                                <option value="2">Đổi free</option>
                            </select>
                        </div>
                    </div>
                    <div class="detail__right-another">
                        <ul>
                            <li>
                                <p class="properties">Thể loại</p>
                                <p class="val">CD</p>
                                <div class="data-edit">
                                    <div class="data-edit">
                                        <input type="text" id="category" value="CD" disabled="disabled" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p class="properties">Số lượng</p>
                                <p class="val">1</p>
                                <div class="data-edit">
                                    <input type="number" id="quantity" min="1" max="50" value="1" disabled="disabled" />
                                </div>
                            </li>
                            <li>
                                <p class="properties">Xuất xứ</p>
                                <p class="val">Hàn Quốc</p>
                                <div class="data-edit">
                                    <input type="text" id="origin" value="Hàn Quốc" disabled="disabled" />
                                </div>
                            </li>
                            <li>
                                <p class="properties">Giá trị</p>
                                <p class="val">₫500.000</p>
                                <div class="data-edit">
                                    <input type="text" id="price" value="₫500.000" disabled="disabled" />
                                </div>
                            </li>
                            <li>
                                <p class="properties">Thời gian sử dụng</p>
                                <p class="val">3 tháng</p>
                                <div class="data-edit">
                                    <input type="text" id="timeused" value="3 tháng" disabled="disabled" />
                                </div>
                            </li>
                            <li>
                                <p class="properties">Số điện thoại</p>
                                <p class="val">0361141324</p>
                                <div class="data-edit">
                                    <input type="tel" id="phone" value="0361141324" />
                                </div>
                            </li>
                            <li>
                                <p class="properties">Trạng thái</p>
                                <div class="val">
                                    <p class="status status-done">Hoàn tất</p>
                                </div>
                                <div class="data-edit">
                                    <select id="status">
                                        <option selected disabled>Chọn trạng thái..</option>
                                        <option value="1" selected>Hoàn tất</option>
                                        <option value="2">Hủy</option>
                                        <option value="3">Đóng</option>
                                        <option value="4">Mở</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="detail__right-desc">
                        <p class="title">Mô tả ngắn:</p>
                        <p class="content edit">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="data-edit">
                            <textarea rows="5" type="text" id="short-desc" />This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="checkregist">
            <div class="container">
                <button type="submit" class="button-del">
                    <div class="del"></div>
                </button>
                <div class="inventory">
                    <div class="inventory__wrap">
                        <div class="inventory__wrap-bottom">
                            <table class="table-scroll small-first-col">
                                <thead>
                                    <tr>
                                        <th>Đăng ký</th>
                                        <th>Thông tin món đồ</th>
                                        <th class="option">Đổi</th>
                                    </tr>
                                </thead>
                                <tbody class="body-half-screen">
                                    <tr>
                                        <td class="name">
                                            <div class="img"><img src="/img/027e5893146889.5e5d8a484f5c4.jpg" alt=""></div>
                                            <div class="wrap-info">
                                                <!--Tên món đồ-->
                                                <a href="" class="name-prod">Hộp nhạc kỉ niệm tình iu chúng ta</a>
                                                <p>Đề xuất đổi bởi: </p>
                                                <!--Tên và đường dẫn profile người dùng-->
                                                <a class="profile" href="/user/profile.html">Park Chaeyoung</a>
                                            </div>
                                        </td>
                                        <td class="info">
                                            <div class="infotop">
                                                <div class="infotop__left">
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Thể loại:</p>
                                                        <p class="val">Đồ lưu niệm</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Số lượng:</p>
                                                        <p class="val">1</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Xuất xứ:</p>
                                                        <p class="val">Việt Nam</p>
                                                    </div>
                                                </div>
                                                <div class="infotop__right">
                                                    <div class="infotop__right-item">
                                                        <p class="properties">Giá trị:</p>
                                                        <p class="val">₫500.000</p>
                                                    </div>
                                                    <div class="infotop__right-item">
                                                        <p class="properties">TGSD:</p>
                                                        <p class="val">5 tháng</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infobot">
                                                <p class="properties">Lời nhắn:</p>
                                                <div class="cmt-box">
                                                    <!--loi nhan-->
                                                    <p class="cmt-content">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    </p>
                                                    <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="option">
                                            <button type="submit" class="button-check">
                                                <div class="check"></div>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                            <div class="img"><img src="/img/027e5893146889.5e5d8a484f5c4.jpg" alt=""></div>
                                            <div class="wrap-info">
                                                <!--Tên món đồ-->
                                                <a href="" class="name-prod">Hộp nhạc kỉ niệm tình iu chúng ta</a>
                                                <p>Đề xuất đổi bởi: </p>
                                                <!--Tên và đường dẫn profile người dùng-->
                                                <a class="profile" href="/user/profile.html">Park Chaeyoung</a>
                                            </div>
                                        </td>
                                        <td class="info">
                                            <div class="infotop">
                                                <div class="infotop__left">
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Thể loại:</p>
                                                        <p class="val">Đồ lưu niệm</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Số lượng:</p>
                                                        <p class="val">1</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Xuất xứ:</p>
                                                        <p class="val">Việt Nam</p>
                                                    </div>
                                                </div>
                                                <div class="infotop__right">
                                                    <div class="infotop__right-item">
                                                        <p class="properties">Giá trị:</p>
                                                        <p class="val">₫500.000</p>
                                                    </div>
                                                    <div class="infotop__right-item">
                                                        <p class="properties">TGSD:</p>
                                                        <p class="val">5 tháng</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infobot">
                                                <p class="properties">Lời nhắn:</p>
                                                <div class="cmt-box">
                                                    <!--loi nhan-->
                                                    <p class="cmt-content">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique repellendus iure placeat excepturi tempore enim sapiente corrupti laborum alias a, dicta voluptas perferendis repellat quod. Illum sapiente voluptate ut.
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique repellendus iure placeat excepturi tempore enim sapiente corrupti laborum alias a, dicta voluptas perferendis repellat quod. Illum sapiente voluptate ut.
                                                    </p>
                                                    <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="option">
                                            <button type="submit" class="button-check">
                                                <div class="check"></div>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                            <div class="img"><img src="/img/027e5893146889.5e5d8a484f5c4.jpg" alt=""></div>
                                            <div class="wrap-info">
                                                <!--Tên món đồ-->
                                                <a href="" class="name-prod">Hộp nhạc kỉ niệm tình iu chúng ta</a>
                                                <p>Đề xuất đổi bởi: </p>
                                                <!--Tên và đường dẫn profile người dùng-->
                                                <a class="profile" href="/user/profile.html">Park Chaeyoung</a>
                                            </div>
                                        </td>
                                        <td class="info">
                                            <div class="infotop">
                                                <div class="infotop__left">
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Thể loại:</p>
                                                        <p class="val">Đồ lưu niệm</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Số lượng:</p>
                                                        <p class="val">1</p>
                                                    </div>
                                                    <div class="infotop__left-item">
                                                        <p class="properties">Xuất xứ:</p>
                                                        <p class="val">Việt Nam</p>
                                                    </div>
                                                </div>
                                                <div class="infotop__right">
                                                    <div class="infotop__right-item">
                                                        <p class="properties">Giá trị:</p>
                                                        <p class="val">₫500.000</p>
                                                    </div>
                                                    <div class="infotop__right-item">
                                                        <p class="properties">TGSD:</p>
                                                        <p class="val">5 tháng</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infobot">
                                                <p class="properties">Lời nhắn:</p>
                                                <div class="cmt-box">
                                                    <!--loi nhan-->
                                                    <p class="cmt-content">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique repellendus iure placeat excepturi tempore enim sapiente corrupti laborum alias a, dicta voluptas perferendis repellat quod. Illum sapiente voluptate ut.
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique repellendus iure placeat excepturi tempore enim sapiente corrupti laborum alias a, dicta voluptas perferendis repellat quod. Illum sapiente voluptate ut.
                                                    </p>
                                                    <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="option">
                                            <button type="submit" class="button-check">
                                                <div class="check"></div>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="anotherProduct">
        <div class="container">
            <h3 class="titleAP">Các sản phẩm khác</h3>
            <div class="mainProduct__list">
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mainProduct__list-item">
                    <a href="/postDetail.html">
                        <div class="item-img">
                            <!--Ảnh sản phẩm-->
                            <img src="/img/detail/detail1.1.jpg" alt="">
                            <div class="label">
                                <!--Thể loại sản phẩm-->
                                <p class="type">CD</p>
                            </div>
                        </div>
                        <!--Tên sản phẩm-->
                        <h3 class="title">Park Chaeyoung - FIRST SINGLE ALBUM</h3>
                        <!--Mô tả ngắn-->
                        <p class="desc">This is a small-scale producer still breaking into the market, so we were looking for a fresh approach that would boost their visibility and improve brand recognition.</p>
                        <div class="user__info">
                            <div class="right">
                                <div class="avt">
                                    <!--Ảnh đại diện-->
                                    <img src="img/rose-10.jpg" alt="">
                                </div>
                                <div class="user__info-name">
                                    <div class="wrap-top">
                                        <span>by</span>
                                        <!--Tên người dùng-->
                                        <p class="name">Park Chaeyoung</p>
                                    </div>
                                    <div class="vote-star">
                                        <img src="img/icons/star.svg" alt="">
                                        <!--TBC đánh giá-->
                                        <p class="star-value">4.5</p>
                                        <!--Tổng số đánh giá-->
                                        <p class="total-vote">(365)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="left">
                                <img src="/img/icons/icons8-mailbox-100.png" alt=""><p>2</p>
                            </div>
                        </div>
                        <div class="last__info">
                            <div class="last__info-time">
                                <!--Thời gian đăng-->
                                <p class="value">15 phút </p>
                                <span>trước</span>
                            </div>
                            <div class="last__info-option">
                                <img src="img/icons/icons8-synchronize-100.png" alt="">
                                <!--Lựa chọn đổi-->
                                <p class="option">Trao đổi</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product__button">
                <div class="btn prev"><img src="img/icons/prev.svg" alt=""></div>
                <div class="btn next"><img src="img/icons/next.svg" alt=""></div>
            </div>
        </div>
    </section>
</main>